<!-- <a href="#" class="btn btn-info border border-danger pt-3" routerLink="/Category" routerActiveLink="active">Categories</a> -->
<!--<a href="#" class="btn btn-info border border-danger pt-3" routerLink="/Category" routerActiveLink="active">Categories</a>-->
<div style="position: relative;">
    <div id="headerPic">
    
    <div><img src="assets/souqText.png" alt="" id="headerName"class="animate__animated animate__backInLeft animate__slow 0.3s"></div>
    
    <div><img src="assets/slogan.png" alt="" id="headerSolgan"class="animate__animated animate__backInLeft animate__slower 1s"></div>
    
    <span><button type="button" class="btn btn-success btn-lg   w3-animate-opacity" routerLink="/auth/register">Join</button></span>
    
    <span><button type="button" class="btn btn-outline-success btn-lg   w3-animate-opacity">About Us</button></span>
    
    </div> 

</div>
