<div class="container mt-3 mb-5">
    <div class="row justify-content-center">
        <div class="col-2 mb-5">
            <img class="m-2" src="assets/finalLogo-en.png" alt="" width="150px">
        </div>
    </div>
    <div class="row justify-content-center ms-4">
        <div class="col-1 ">
            <img class="ms-3 me-3" src="assets/notfound.gif" alt="">
        </div>
        <div class="col-10">
            <h5 class="text-danger">Looking for something?</h5>
            <p class="text">We're sorry. The Web address you entered is not a functioning page on our site</p>
            <p>Go to
                <a href="#" class="btn btn-success border border-danger" routerLink="/Category">Home</a>
            </p>
        </div>
    </div>
</div>
