<div style="background-color: rgb(230, 224, 224);">
<div class="container" style=" height: 500px;">
    <div class="row" style="border: black 5px sold; border-radius: 20px;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <p style="font-size: 30px; margin-top: 145px;" >
                You Can tracking Your Order With This Number : <span style="color: greenyellow;"> {{orderNumber}}</span> 
            </p>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row my-5">
        <div class="col-lg-9"></div>
        <div class="col-lg-3 py-5"><button type="button" class="btn btn-warning" (click)="gotoOrder()">Go to Order</button></div>
    </div>
</div>
</div>