 <div class="container" style="padding-top: 100px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Order Number</th>
        <th scope="col">Order Date</th>
        <th scope="col">payment Type</th>
        <th scope="col">Oredr State</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orders;let i=index;">
        <td>{{orders[i].name}}</td>
        <td>{{orders[i].address}}</td>
        <td>{{orders[i].phone}}</td>
        <td>{{orders[i].orderId}}</td>
        <td>{{orders[i].orderDate}}</td>
        <td *ngIf="orders[i].paymentType==1">Cash</td>
        <td *ngIf="orders[i].paymentType==2">payPal</td>
        <td *ngIf="orders[i].state==0">Pending</td>
        <td *ngIf="orders[i].state==1">OnTheWay </td>
        <td *ngIf="orders[i].state==2">Delivered</td>
        <td *ngIf="orders[i].state==3">Canceled</td>
        <td><button class="btn btn-warning" (click) ="viewOrder(orders[i].productOrderViewModels)">View Details</button></td>
       
        
      </tr>
    </tbody>
</table>
<div class="row" style="margin-top: 100px  ; margin-bottom: 100px;">
  <div class="col-lg-9">
  </div>
    <div class="col-lg-3">

  
  <button type="button" class="btn btn-warning" (click)="gotoHome()">Back to Shopping</button>
</div>
</div>
</div>

